<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dollop.distributor" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />
    <uses-permission android:name="ANDROID.PERMISSION.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".UtilityTools.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".Activity.OrderHistory" />
        <activity
            android:name=".Activity.CreateOfferActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activity.OfferActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activity.MyRatingActivity"
            android:screenOrientation="portrait" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <activity
            android:name=".Activity.MapsActivity"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EditSubMemberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PastorderDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PastorderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TotalEarningDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ManageDocumentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CutomerDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CutomerDetailsAcceptActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CutomerDetailsCancelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AllCreditRequestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CreateSubMamberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ManageMemberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CreditSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.UpdatePasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activity.ForgotMatchOtpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ForgotActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PersonalDeatilsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.StockQuantityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TrackingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AssignActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.OrderDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.BankDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MPESActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SearchMapsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CreateAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ProductDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SetTimingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SearchStoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EditProfileFragment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.LocationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.OtpSendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <uses-library
            android:name="com.google.android.maps"
            android:required="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service
            android:name=".firebase.MyFirebaseMessagingService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_logo_color" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />
    </application>

</manifest>